*.json
!*/schemas/*.json
*.sublime-*
.python-version
singer-check-tap-data
*.pyc
*.egg-info
dist/
get_catalog.py
env/
logs/
run.sh
debug/
stitch/
build/
venv
.env

# custom stuff
.autoenv.zsh
.autoenv_leave.zsh
output.txt